@model MyBakeryShop.ViewModels.ProductListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form
    asp-controller="AdminProducts" asp-action="Index" method="get">

    <div class="form-group">
        <select asp-for="StyleString" asp-items="Model.Style">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </div>

</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Allergy Information
            </th>
            <th>
                Price
            </th>
            <th>
                Is Product Of The Week
            </th>
            <th>
                In Stock
            </th>
            <th>
                Category
            </th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllergyInformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsProductOfTheWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
