@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>
@{

    ViewBag.Title = "Sửa quyền";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">

    <div class="col-sm-6">

        <h2>@ViewBag.Title</h2>

        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>


                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h5><strong>Thêm quyền cho thành viên này:</strong></h5>

        <form action="@Url.Action("AddToRole")" method="post">

            <input type="hidden" name="UserId" value="@Url.RequestContext.RouteData.Values["Id"]" />

            @Html.AntiForgeryToken()

            @Html.ListBox("RoleId", null, new { @class = "form-control", multiple = "multiple" })

            <div class="form-group">

                <br />

                <button type="submit" class="btn btn-primary">Thêm </button>

            </div>

        </form>

    </div>

</div>